@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  src: url('./assets/fonts/PretendardVariable.woff2');
  font-weight: 400;
  line-height: 1;
}
